 # Compiled files
*.class

# Log files
*.log

# Visual Studio Code files
/.vscode/*

# Package files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Intellij Configuration files
/.idea/*
/.settings/*

# Gradle local cache
/.gradle/*

# Genrated binary files
/out/*
/bin/*
/build/*

# Mac OS X spotlight file
.DS_Store

# Eclipse Configuration files
.classpath
.project
